// Variables

@import "../vendors/bootstrap/scss/functions";
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white: #fff;
$dark-sidebar: rgba(39, 51, 58, 1);
$gray-100: #f6f6f7;
$gray-200: #f3f7f9;
$gray-300: #e2e7f1;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #4b4b5a;
$gray-800: #343a40;
$gray-900: #1e2139;
$black: #000;
$default: #505d69;
$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "300-rgb": to-rgb($gray-300),
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
  ),
  $grays
);

// $blue:    #3051D3;
// $indigo:  #564ab1;
// $purple:  #6f42c1;
// $pink:    #e83e8c;
// $red:     #F06543;
// $orange:  #f1734f;
// $yellow:  #e4cc37;
// $green:   #3ddc97;
// $teal:    #008080;
// $cyan:    #00A7E1;

$blue: #7859f4; //#3051d3;
$indigo: #564ab1;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #ff5c75;
$orange: #f77e53;
$yellow: #ffbe0b;
$green: #43d39e;
$teal: #1ce1ac;
$cyan: #25c2e3;

$colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
    "default": $default,
  ),
  $colors
);

$primary: $blue;
$secondary: $gray-700;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-300;
$dark: $gray-900;
$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "default": $default,
  ),
  $theme-colors
);

// Components
//
// Define common padding and border radius sizes and more.

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: false;

// Body
//
// Settings for the `<body>` element.

$body-bg: #f4f8f9;
$body-color: $default;

// Links
//
// Style anchor elements.

$link-decoration: none;
$link-shade-percentage: 15%;
// $link-hover-color: darken($primary, 15%);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width: 24px;

$box-shadow-xs: 0 0.05rem 0.01rem rgba(var(--#{$prefix}gray-700), 0.075);
$box-shadow-sm: 0 1px 4px 0 rgba($black, 0.1);
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
$box-shadow-lg: 0 1rem 2rem rgba($black, 0.175);
$card-shadow: 0 0.75rem 1.5rem rgba($black, 0.03);

$component-active-bg: var(--#{$prefix}primary);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Font weight

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
// Secondary font
$font-family-secondary: "Nunito Sans", sans-serif;

$text-muted: var(--#{$prefix}gray-600);
$hr-border-color: rgba($black, 0.1);
$mark-bg: #fcf8e3;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-color: var(--#{$prefix}default);
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-padding-x-sm: 0.5rem;
$table-head-bg: var(--#{$prefix}gray-100);
$table-hover-bg: var(--#{$prefix}gray-200);
$table-active-bg: $table-hover-bg;
$table-caption-color: $text-muted;
$table-bg: transparent;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.45rem;
$input-btn-padding-x: 0.75rem;

$input-btn-focus-width: 0.15rem;
$input-btn-focus-color: rgba(var(--#{$prefix}primary), 0.25);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

// Forms

$input-bg: white;
$input-focus-bg: var(--#{$prefix}input-bg);
$input-disabled-bg: var(--#{$prefix}input-bg);

$input-color: var(--#{$prefix}gray-700);
$input-border-color: var(--#{$prefix}gray-300);
$input-box-shadow: 0px 0px 5px 1px rgba(229, 229, 229, 0.5); // inset 0 1px 1px rgba($black, .075);

$input-focus-border-color: var(--#{$prefix}primary); // $input-border-color
$input-focus-box-shadow: none;

$input-placeholder-color: var(--#{$prefix}gray-600);
$input-plaintext-color: var(--#{$prefix}body-color);

$input-group-addon-bg: var(--#{$prefix}gray-200);

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-link-color: var(--#{$prefix}primary);
$btn-link-hover-color: darken($primary, 4);
$btn-padding-y: 0.45rem;
$btn-padding-x: 0.75rem;

// Form validation

$form-feedback-font-size: $small-font-size;
$form-select-bg: transparent;
$form-check-input-checked-bg-color: var(--#{$prefix}primary);
$form-check-input-checked-border-color: var(--#{$prefix}primary);
$form-check-width: 2rem;
$form-check-height: 1.25rem;
$form-control-height: 40px;
// Navs

$nav-link-disabled-color: var(--#{$prefix}gray-600);
$nav-link-hover-color: var(--#{$prefix}primary);
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: var(--#{$prefix}primary);

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg: $white;
$dropdown-border-color: rgba($black, 0.15);
$dropdown-border-radius: $border-radius-sm;
$dropdown-border-width: 0;
$dropdown-divider-bg: var(--#{$prefix}gray-200);
$dropdown-box-shadow: 0 0.5rem 1rem rgba($black, 0.175);

$dropdown-link-color: var(--#{$prefix}gray-900);
$dropdown-link-hover-color: darken($gray-900, 5%);
$dropdown-link-hover-bg: var(--#{$prefix}gray-100);

$dropdown-link-active-color: darken($gray-900, 5%);
$dropdown-link-active-bg: var(--#{$prefix}gray-100);

$dropdown-link-disabled-color: var(--#{$prefix}gray-600);

$dropdown-item-padding-y: 0.5rem;
$dropdown-item-padding-x: 1.5rem;

// Pagination

$pagination-padding-y: 0.5rem;
$pagination-padding-x: 0.75rem;
$pagination-padding-y-sm: 0.25rem;
$pagination-padding-x-sm: 0.5rem;
$pagination-padding-y-lg: 0.75rem;
$pagination-padding-x-lg: 1.5rem;
$pagination-line-height: 1.25;

$pagination-color: var(--#{$prefix}body-color);
$pagination-bg: var(--#{$prefix}card-bg);
$pagination-border-color: $gray-300;

$pagination-hover-color: $white;
$pagination-hover-bg: var(--#{$prefix}primary);
$pagination-hover-border-color: var(--#{$prefix}primary);

$pagination-focus-color: var(--#{$prefix}primary);
$pagination-focus-bg: transparent;

$pagination-hover-color: $white;
$pagination-hover-bg: var(--#{$prefix}primary);
$pagination-hover-border-color: var(--#{$prefix}primary);
$pagination-active-bg: var(--#{$prefix}primary);
$pagination-active-border-color: var(--#{$prefix}primary);
$pagination-disabled-color: var(--#{$prefix}gray-600);
$pagination-disabled-bg: var(--#{$prefix}pagination-disabled-bg);
$pagination-disabled-border-color: var(--#{$prefix}gray-300);
$pagination-focus-box-shadow: $input-btn-focus-box-shadow;
// Cards

$card-title-color: #1c1f34;
$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;
$card-border-width: 0;
$card-border-radius: $border-radius-lg;
$card-border-color: rgba($black, 0.125);
$card-inner-border-radius: $card-border-radius;
$card-cap-bg: var(--#{$prefix}gray-200);
$card-bg: $white;
$card-img-overlay-padding: 1.25rem;

// Tooltips

$tooltip-font-size: $font-size-base;
$tooltip-color: $white;
$tooltip-bg: $black;
$tooltip-padding-y: 0.3rem;
$tooltip-padding-x: 0.6rem;

// Popovers

$popover-font-size: $font-size-base;
$popover-bg: var(--#{$prefix}card-bg);
$popover-border-color: var(--#{$prefix}border-color);
$popover-border-radius: $border-radius;
$popover-box-shadow: $box-shadow; // 0 .25rem .5rem rgba($black, .2);

$popover-header-bg: var(--#{$prefix}gray-200);
$popover-header-padding-y: 0.5rem;
$popover-header-padding-x: 0.75rem;

$popover-body-padding-y: $popover-header-padding-y;
$popover-body-padding-x: $popover-header-padding-x;
$popover-arrow-outer-color: fade-in($gray-300, 0.05);

// Toasts

$toast-padding-y: 0.25rem;
$toast-background-color: rgba($white, 0.85);
$toast-border-color: rgba(0, 0, 0, 0.1);
$toast-border-radius: 0.25rem;
$toast-box-shadow: 0 0.25rem 0.75rem rgba($black, 0.1);
$toast-header-color: $gray-600;
$toast-header-background-color: rgba($white, 0.85);
$toast-header-border-color: rgba(0, 0, 0, 0.05);

// Badges

$badge-font-size: 82%;
$badge-font-weight: $font-weight-semibold;
$badge-padding-y: 0.3em;
$badge-padding-x: 0.5em;
$badge-border-radius: $border-radius-sm;

// Modals

// Padding applied to the modal body

$modal-content-bg: $white;
$modal-content-border-color: rgba($black, 0.2);
$modal-content-box-shadow-xs: 0 0.25rem 0.5rem rgba($black, 0.5);
$modal-content-box-shadow-sm-up: 0 0.5rem 1rem rgba($black, 0.5);
$modal-header-padding-y: 1rem;
$modal-header-padding-x: 1rem;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x; // Keep this for backwards compatibility

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 0.75rem;
$alert-padding-x: 1.25rem;

// Progress bars

$progress-height: 0.75rem;
$progress-bg: var(--#{$prefix}gray-300);
$progress-box-shadow: inset 0 0.1rem 0.1rem rgba($black, 0.1);

// List group

$list-group-color: null;
$list-group-bg: $white;
$list-group-border-color: rgba($black, 0.125);

$list-group-item-padding-y: 0.75rem;
$list-group-item-padding-x: 1.25rem;

$list-group-hover-bg: var(--#{$prefix}gray-100);

$list-group-disabled-color: var(--#{$prefix}gray-600);

$list-group-action-color: var(--#{$prefix}gray-700);
$list-group-action-hover-color: $list-group-action-color;
$list-group-active-bg: var(--#{$prefix}primary);
$list-group-active-border-color: var(--#{$prefix}primary);
$list-group-action-active-bg: var(--#{$prefix}gray-200);
$list-group-border-color: var(--#{$prefix}gray-300);

// Image thumbnails

$thumbnail-border-color: var(--#{$prefix}gray-300);
$thumbnail-box-shadow: 0 1px 2px rgba($black, 0.075);

// Figures

$figure-caption-font-size: 90%;
$figure-caption-color: var(--#{$prefix}gray-600);

// Breadcrumbs

$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-item-padding: 0.3rem;

$breadcrumb-margin-bottom: 1rem;

$breadcrumb-bg: var(--#{$prefix}gray-200);
$breadcrumb-divider-color: var(--#{$prefix}gray-600);
$breadcrumb-active-color: var(--#{$prefix}gray-600);

// Carousel

$carousel-control-icon-width: 20px;

// Code

$code-font-size: 87.5%;

$kbd-padding-y: 0.2rem;
$kbd-padding-x: 0.4rem;
$kbd-color: $white;
$kbd-bg: var(--#{$prefix}gray-900);

$pre-color: var(--#{$prefix}gray-900);

//Custom color of letstart

//Icons
$boxIcons: "boxicons";

//Sidebar constant Variables
$sidebar-width: 250px;
$sidebar-collapsed-width: 70px;
$sidebar-width-sm: 150px;

// Boxed layout width
$boxed-layout-width: 1300px;

//box shadow
$box-shadow-lr: 0 0.5rem -1px rgba(var(--#{$prefix}gray-700), 0.075);

// SIdebar menu variables

// Topbar - Deafult Light
$header-height: 70px;
$height: 100px;
$max-heights: ();
// stylelint-disable-next-line scss/dollar-variable-default

$max-heights: map-merge(
  (
    0: 0,
    50: (
      $height * 0.5,
    ),
    100: (
      $height * 1,
    ),
    200: (
      $height * 2,
    ),
    250: (
      $height * 2.5,
    ),
    300: (
      $height * 3,
    ),
    350: (
      $height * 3.5,
    ),
    400: (
      $height * 400,
    ),
    450: (
      $height * 4.5,
    ),
  ),
  $max-heights
);
$widths: (
  20: 20%,
  15: 15%,
);
$image-path: "../../assets/images";

$btn-widths: ();
$btn-widths: map-merge(
  (
    "xs": 80px,
    "sm": 110px,
    "md": 140px,
    "lg": 170px,
    "xl": 200px,
  ),
  $btn-widths
);

// Apex chart
$fw-bold: 700;

$card-overlay-color: #3e4852;
$border-color: #e9e9e9;
$apex-grid-color: $border-color;
$apex-grid-tick-color: #e9e9e9;

//sidebar colots
$sidebar-dark-bg: #27333a;
$sidebar-dark-title-color: #adb5bd;
$sidebar-dark-subitem-color: #adb5bd;
$sidebar-dark-item-active-color: #fff;
$sidebar-dark-item-active-bg: #2b3840;
$sidebar-dark-topmenu-item-color: #636e75;

//Sidebar menu colors
$menu-item: var(--#{$prefix}gray-700);
$menu-item-hover: var(--#{$prefix}primary);
$menu-item-active: var(--#{$prefix}primary);
$menu-item-bg-hover: #f7f7ff;
$header-icon-color: #e9ecef;
$horizontal-topnav-bg: $white;
$app-colors: (
  input-bg: $input-bg,
  primary-dark: darken($primary, 5),
  box-layout-bg: darken($body-bg, 2%),
  dropdown-bg: white,
  pagination-bg: white,
  pagination-disabled-bg: white,
  list-group-bg: white,
  list-group-border-color: rgba($black, 0.125),
  card-title-color: #1c1f34,
  card-bg: white,
  sidebar-bg: white,
  topbar-bg: $primary,
  border-color: #f0f0f0,
  flatpicker-bg: white,
  custom-tab-border-color: $light,
  mail-control-hvr-clr: $black,
  menu-item-bg-hover: $menu-item-bg-hover,
  topbar-search-bg: $body-bg,
  topbar-search-bg-rgb: to-rgb($body-bg),
  form-check-input-bg: $light,
  btn-link-hover-color: $btn-link-hover-color,
  dropdown-link-hover-color: darken($gray-900, 5%),
  dropdown-link-active-color: darken($gray-900, 5%),
  horizontal-topnav-bg: $horizontal-topnav-bg,
);

$app-colors-dark: null !default;
$app-colors-dark-rgb: null !default;
$sidebar-theme-dark-item-active-bg: #333;
$card-bg-dark: #333;
$border-color-dark: #454545;
$dark-light-bg: #222;
$dark-active-bg: #111;
$dark-primary: #7859f4; //#4d6deb;
$dark-active-primary: #3d6deb;
$menu-item-bg-hover-dark: #191919;
$btn-link-hover-color-dark: darken($dark-primary, 4);
$horizontal-topnav-bg-dark: #111;
@if $enable-dark-mode {
  $app-colors-dark-rgb: (
    gray-100: #191919,
    gray-200: #292929,
    gray-300: #393939,
    gray-400: #494949,
    gray-500: hsl(203, 9%, 55%),
    gray-600: #828f97,
    gray-700: #f6f6f6,
    gray-800: #eff2f7,
    gray-900: #f8f9fa,
    primary: $dark-primary,
    primary-dark: darken($dark-primary, 5),
    default: #d9d9d9,
    secondary: #828f97,
    dark: #f8f9fa,
    light: #252525,
    body-bg: #292929,
    card-bg: $card-bg-dark,
  );
  $app-colors-dark: (
    box-layout-bg: darken(#292929, 2%),
    input-bg: #252525,
    input-focus-bg: #252525,
    dropdown-bg: $card-bg-dark,
    pagination-bg: #1d282e,
    pagination-disabled-bg: #1d282e,
    card-title-color: #fff,
    //app css
    sidebar-bg:
      #252525,
    topbar-bg: #151515,
    border-color: $border-color-dark,
    topbar-search-bg: $card-bg-dark,
    topbar-search-bg-rgb: to-rgb($card-bg-dark),
    flatpicker-bg: $card-bg-dark,
    custom-tab-border-color: $border-color-dark,
    mail-control-hvr-clr: $gray-600,
    menu-item-bg-hover: $menu-item-bg-hover-dark,
    form-check-input-bg: #252525,
    btn-link-hover-color: $btn-link-hover-color-dark,
    dropdown-link-hover-color: darken(#f8f9fa, 5%),
    dropdown-link-active-color: darken(#f8f9fa, 5%),
    horizontal-topnav-bg: $horizontal-topnav-bg-dark,
  );
}

// App Colors
$app-primary: var(--#{$prefix}primary);
$app-primary-dark: var(--#{$prefix}primary-dark);
$app-primary-rgb: var(--#{$prefix}primary-rgb);
$app-secondary: var(--#{$prefix}secondary);
$app-secondary-rgb: var(--#{$prefix}secondary-rgb);
$app-success: var(--#{$prefix}success);
$app-danger: var(--#{$prefix}danger);
$app-info: var(--#{$prefix}info);
$app-warning: var(--#{$prefix}warning);
$app-light: var(--#{$prefix}light);
$app-dark: var(--#{$prefix}dark);
$app-dark-rgb: var(--#{$prefix}dark-rgb);
$app-default: var(--#{$prefix}default);

$app-theme-colors: (
  "primary": $app-primary,
  "secondary": $app-secondary,
  "success": $app-success,
  "info": $app-info,
  "warning": $app-warning,
  "danger": $app-danger,
  "light": $app-light,
  "dark": $app-dark,
  "default": $app-default,
);

$app-card-bg: var(--#{$prefix}card-bg);
$app-gray-100: var(--#{$prefix}gray-100);
$app-gray-200: var(--#{$prefix}gray-200);
$app-gray-300: var(--#{$prefix}gray-300);
$app-gray-300-rgb: var(--#{$prefix}gray-300-rgb);
$app-gray-400: var(--#{$prefix}gray-400);
$app-gray-400-rgb: var(--#{$prefix}gray-400-rgb);
$app-gray-500: var(--#{$prefix}gray-500);
$app-gray-600: var(--#{$prefix}gray-600);
$app-gray-700: var(--#{$prefix}gray-700);
$app-gray-800: var(--#{$prefix}gray-800);
// Other app colors
$app-border-color: var(--#{$prefix}border-color);
$app-body-color: var(--#{$prefix}body-color);
$app-body-bg: var(--#{$prefix}body-bg);
$app-body-bg-rgb: var(--#{$prefix}body-bg-rgb);
$app-sidebar-bg: var(--#{$prefix}sidebar-bg);
$app-input-bg: var(--#{$prefix}input-bg);
$app-input-color: var(--#{$prefix}gray-700);
$app-menu-item-bg-hover: var(--#{$prefix}menu-item-bg-hover);
$app-flatpicker-bg: var(--#{$prefix}card-bg);
$app-topbar-bg: var(--#{$prefix}topbar-bg);
$app-topbar-search-bg: var(--#{$prefix}topbar-search-bg);
$app-topbar-search-bg-rgb: var(--#{$prefix}topbar-search-bg-rgb);
$app-dropdown-bg: var(--#{$prefix}card-bg);
$app-dropdown-bg-rgb: var(--#{$prefix}card-bg-rgb);
$app-input-border-color: var(--#{$prefix}gray-300);
$app-custom-tab-border-color: var(--#{$prefix}custom-tab-border-color);
$app-mail-control-hvr-color: var(--#{$prefix}mail-control-hvr-clr);
$app-box-layout-bg: var(--#{$prefix}box-layout-bg);
$app-btn-link-hover-color: var(--#{$prefix}btn-link-hover-color);
$app-dropdown-link-hover-color: var(--#{$prefix}dropdown-link-hover-color);
$app-dropdown-link-active-color: var(--#{$prefix}dropdown-link-active-color);
$app-horizontal-topnav-bg: var(--#{$prefix}horizontal-topnav-bg);
