.logo-sm-profi img {
  width: 15px;
}

.side-navbar {
  & .side-nav-link.text-azure-71 {
    color: $azure-71;

    &:hover {
      color: $azure-71;
    }
  }

  & .side-nav-link.text-azure-71.active {
    color: $azure-71;
  }
}

.navbar-header .hamburg-icon.text-grey-42 i {
  color: $grey-42;
}

.header-item.btn {
  padding: 7.67px;
}

.page-title.text-blue-17 > h3 {
  color: $blue-17;
}

.header-item.active,
.header-item.btn:first-child:active,
.header-item.show,
.header-item:active,
.header-item:focus,
.header-item:hover {
  background: transparent;
  color: $grey-42;
}

.whatsApp-btn {
  transition: all 0.3s ease-in-out;
  padding: 6.87px 11.67px 6.87px 11.67px;
  border-radius: 50px;

  @media (width > 1024px) {
    &:hover {
      background: $springgreen-55;
      color: #fff;
      opacity: 0.6;
    }
  }
}

.search-icon-profi {
  width: 24px;
  height: 24px;
}
.search-profi {
  width: 441px;
  height: 40px;

  @media (width < 1510px) {
    width: 100%;
  }
}

.time-success-profi {
  font-size: 13px;
  font-weight: 600;
}

.kaspi-btn-profi {
  width: 286px;

  @media (width < 1510px) {
    width: 100%;
  }
}

.fs-14-profi {
  @media (width < 576px) {
    font-size: 14px;
  }
}

.dropdown-menu.dropdown-menu-profi.show {
  top: calc(100% + 6px) !important;
}

.dropdown-menu.dropdown-menu-profi {
  .dropdown-item {
    padding: 6px 12px 6px 12px;
  }
  .dropdown-item:hover {
    background: $blue-6511;
    color: $primary;
  }

  @media (width < 576px) {
    width: 100%;
  }
}
.dropdown-heading-profi {
  font-size: 14.4px;
  font-weight: 700;
  line-height: 21.6px;
  color: $blue-17;
}

.filter-form-profi {
  padding: 10px 12px;
  width: 424px;

  @media (width < 576px) {
    width: 99dvw;
  }
}

.btn-group.dropend-sm {
  @media (width <576px) {
    .dropdown-menu {
      top: calc(100% + 6px) !important;
      right: -13px !important;
      left: auto !important;
      transform: none !important;
      margin-top: 0;
    }
  }
}

.btn.radio-btn-profi {
  background: $gray-400;
  color: $white;

  &:hover {
    background: $gray-400;
    color: $white;
  }
}

.btn-check:checked + .btn {
  border: none;
  background: $primary;
  color: $white;
}

.w-mobile-100 {
  width: 100%;

  @media (min-width: 576px) {
    width: fit-content;
  }
}

.m-profi-0 {
  margin-left: 0;
  margin-right: 0;
  @media (width > 767px) {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.product-btn-profi {
  width: 179.5px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: $azure-1575;
  @media (width < 576px) {
    width: 87.5px;
    font-size: 12px;
    padding: 4px 6px;
  }
}

.product-management-box {
  padding-block: 24px;
  padding-inline: 0;

  @media (width < 576px) {
    padding-block: 20px;
  }
}

.product-management-wrapper {
  padding-inline: 12px;
  @media (width < 576px) {
    padding-block: 16px;
    background: $white;
    border-radius: 12px;
    border: 1px solid rgba(231, 231, 231, 1);
  }
}

.product-management-grey-btn {
  @media (width < 576px) {
    width: 195px;
    font-size: 14px;
    padding-inline: 0;
  }
}

.table-wrapper {
  margin-left: 12px;
  margin-right: 12px;
  overflow-x: auto;

  @media (width < 576px) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.table-block {
  display: flex;
  width: fit-content;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 1);
  @media (width < 576px) {
    width: 100%;
    border: 1px solid rgba(231, 231, 231, 1);
  }
}

.table thead th {
  vertical-align: middle;
  height: 100%;

  > div {
    height: 100%;
    min-height: 100%;
  }
}

.table tbody td,
.table tbody th {
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}

.table-head-col {
  text-wrap: nowrap;
  height: 100% !important;
  min-height: 100% !important;
}

.w-fit {
  width: fit-content;
}
.gap-12 {
  gap: 12px;
}
.h-40 {
  height: 40px;
}
.px-12 {
  padding-inline: 12px;
}

.bg-blue-6511 {
  background: $blue-6511;
}
.bg-blue-65 {
  background: $primary;
}
.bg-azure-19 {
  background: $azure-19;
}
.bg-pringgreen-55 {
  background: $springgreen-55;
}
.bg-grey-400 {
  background: $gray-400;
}
.text-azure-71 {
  color: $azure-71;
}
.text-grey-42 {
  color: $grey-42;
}
.text-blue-17 {
  color: $blue-17;
}
