.logo-sm-profi img {
  width: 15px;
}

.side-navbar {
  & .side-nav-link.text-azure-71 {
    color: $azure-71;

    &:hover {
      color: $azure-71;
    }
  }

  & .side-nav-link.text-azure-71.active {
    color: $azure-71;
  }
}

.navbar-header .hamburg-icon.text-grey-42 i {
  color: $grey-42;
}

.header-item.btn {
  padding: 7.67px;
}

.page-title.text-blue-17 > h3 {
  color: $blue-17;
}

.header-item.active,
.header-item.btn:first-child:active,
.header-item.show,
.header-item:active,
.header-item:focus,
.header-item:hover {
  background: transparent;
  color: $grey-42;
}

.whatsApp-btn {
  transition: all 0.3s ease-in-out;
  padding: 6.87px 11.67px 6.87px 11.67px;
  border-radius: 50px;

  @media (width > 1024px) {
    &:hover {
      background: $springgreen-55;
      color: #fff;
      opacity: 0.6;
    }
  }

  @media (width < 430px) {
    font-size: 12px;
  }
}

.products-filter-block-profi {
  padding-inline: 12px;
  gap: 8px;
  flex-grow: 0;
  width: fit-content;

  @media (width < 430px) {
    padding-inline: 6px;
    gap: 4px;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
  }
}

.search-icon-profi {
  width: 24px;
  height: 24px;
}
.search-profi {
  width: 441px;
  height: 40px;

  @media (width < 1510px) {
    width: 100%;
  }
}

.time-success-profi {
  font-size: 13px;
  font-weight: 600;

  @media (width < 430px) {
    font-size: 10px;
  }
}

.kaspi-btn-profi {
  width: 286px;

  @media (width < 1510px) {
    width: 100%;
  }
}

.fs-14-profi {
  @media (width < 576px) {
    font-size: 14px;
  }
  @media (width < 430px) {
    font-size: 12px;
  }
}

.dropdown-menu.dropdown-menu-profi.show {
  top: calc(100% + 6px) !important;
}

.dropdown-menu.dropdown-menu-profi {
  .dropdown-item {
    padding: 6px 12px 6px 12px;
  }
  .dropdown-item:hover {
    background: $blue-6511;
    color: $primary;
  }

  @media (width < 576px) {
    width: 100%;
  }

  @media (width < 430px) {
    font-size: 12px;
  }
}
.dropdown-menu.dropdown-menu-filters-profi.show {
  display: block;
}

.dropdown-menu.dropdown-menu-filters-profi {
  .dropdown-item {
    padding: 6px 12px 6px 12px;
  }
  .dropdown-item:hover {
    background: $blue-6511;
    color: $primary;
  }

  @media (width < 576px) {
    width: 100%;
  }

  @media (width < 430px) {
    font-size: 12px;
  }
}
.dropdown-heading-profi {
  font-size: 14.4px;
  font-weight: 700;
  line-height: 21.6px;
  color: $blue-17;
}

.filter-form-profi {
  padding: 10px 12px;
  width: 424px;

  @media (width < 576px) {
    width: 99dvw;
  }
}

.btn-group.dropend-sm {
  @media (width <576px) {
    .dropdown-menu {
      top: calc(100% + 6px) !important;
      right: -13px !important;
      left: auto !important;
      transform: none !important;
      margin-top: 0;
    }
  }
}

.btn.radio-btn-profi {
  background: $gray-400;
  color: $white;

  &:hover {
    background: $gray-400;
    color: $white;
  }

  @media (width < 430px) {
    font-size: 12px;
    line-height: 24px;
  }
}

.btn-check:checked + .btn {
  border: none;
  background: $primary;
  color: $white;
}

.w-mobile-100 {
  width: 100%;

  @media (min-width: 576px) {
    width: fit-content;
  }
}

.m-profi-0 {
  margin-left: 0;
  margin-right: 0;
  @media (width > 767px) {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.product-btn-profi {
  width: 179.5px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  color: $azure-1575;
  @media (width < 576px) {
    width: 87.5px;
    font-size: 12px;
    padding: 4px 6px;
  }
  @media (width < 430px) {
    width: 87.5px;
    font-size: 10px;
    padding: 4px;
  }
}

.product-management-box {
  padding-block: 24px;
  padding-inline: 0;

  @media (width < 576px) {
    padding-block: 20px;
  }
}

.product-management-wrapper {
  padding-inline: 12px;
  @media (width < 576px) {
    padding-block: 16px;
    background: $white;
    border-radius: 12px;
    border: 1px solid rgba(231, 231, 231, 1);
  }
}

.product-management-grey-btn {
  @media (width < 576px) {
    width: calc(50% - 4px);
    font-size: 14px;
    padding-inline: 0;
  }
  @media (width < 430px) {
    width: calc(50% - 4px);
    font-size: 12px;
    padding-inline: 0;
  }
}

.product-management-grey-btn:disabled {
  opacity: 1;
  border: none;
}

.table-wrapper {
  margin-left: 12px;
  margin-right: 12px;
  overflow-x: auto;

  @media (width < 576px) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.table-block {
  display: flex;
  width: fit-content;
  overflow: hidden;
  border-radius: 8px 8px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.03);
  background: rgba(255, 255, 255, 1);
  @media (width < 576px) {
    width: 100%;
    border: 1px solid rgba(231, 231, 231, 1);
  }
}

.table-paggination-wrapper {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
}

.table-paggination {
  display: flex;
  align-items: center;
  padding-block: 24px;
  gap: 48px;
}

.table thead th {
  vertical-align: middle;
  height: 100%;

  > div {
    height: 100%;
    min-height: 100%;
  }
}

.table tbody td,
.table tbody th {
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
}

.table-head-col {
  text-wrap: nowrap;
  height: 100% !important;
  min-height: 100% !important;
}

.table-input-profi {
  min-width: 140px;
  width: 100%;
  border: none;

  &:focus {
    border: 1px solid $primary;
  }

  &.auto-resize {
    min-height: 40px;
    height: 40px;
    resize: none;
    overflow: hidden;
  }
}

.badge-profi {
  padding: 5px 16px 5px 16px;
  border-radius: 130px;
}

.badge-profi-mobile {
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
  font-size: 12px;
}

.badge-profi-success {
  background: #b2ffb4;
  color: #04910c;
}

.badge-profi-warning {
  background: #fdeded;
  color: #e84646;
}

.badge-profi-preorder {
  background: #fff4e6;
  color: #ff9500;
}

.badge-btn-profi {
  width: 30px;
  height: 30px;
  background: #f0f6ff;
  color: #007abd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
  border: none;

  &.badge-btn-profi-dark {
    background: #007abd;
    color: #f0f6ff;
  }
}

.td-profi-text {
  font-style: 16px;
  font-weight: 400;
  color: $secondary;
  border: none;
  background: transparent;
}

.mobile-pagination {
  padding: 16px 16px 16px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.pagination-mobile-btn {
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.form-check-input-profi {
  width: 36px;
  height: 22px;
}

.btn.product-management-grey-btn.products-active-btn {
  background: $primary !important;
  color: #fff !important;
}

.product-btn-profi.active-filter {
  background: rgba(120, 89, 244, 0.2);
  color: $primary;
}

.not-visible {
  display: none;
  @media (width < 430px) {
    display: inline;
  }
}

.mobile-card-table-row {
  @media (width < 576px) {
    font-size: 14px;
  }
}

.form-switch {
  .form-check-input.form-check-input-profi {
    @media (width < 576px) {
      width: 32px;
    }
  }
}

.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}
.gap-12 {
  gap: 12px;
}
.h-40 {
  height: 40px;
}
.px-12 {
  padding-inline: 12px;
}

.bg-blue-6511 {
  background: $blue-6511;
}
.bg-blue-65 {
  background: $primary;
}
.bg-azure-19 {
  background: $azure-19;
}
.bg-pringgreen-55 {
  background: $springgreen-55;
}
.bg-grey-400 {
  background: $gray-400;
}
.text-azure-71 {
  color: $azure-71;
}
.text-grey-42 {
  color: $grey-42;
}
.text-blue-17 {
  color: $blue-17;
}

.resizable-table th {
  position: relative;
}

.resizable-table {
  position: relative;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  z-index: 1;

  &:hover::after,
  &.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100vh;
    border-left: 2px dashed #fdeded;
    pointer-events: none;
  }
}

// Стили для иконок сортировки
.sort-icon {
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  display: inline-block;
}
