button {
  outline: none;

  &:focus {
    outline: none;
  }
}

.icon-btn {
  display: inline-flex;
  align-items: center;
}

.btn-lg {
  height: 48px;
}

.btn-link {
  &:hover {
    text-decoration: none;
  }
}

.btn-xs {
  padding: .2rem .6rem;
  font-size: .75rem;
  border-radius: .15rem;
}

.btn-rounded {
  border-radius: 50px;
}

.btn-mw110 {
  min-width: 110px;
}

.btn-white {
  background-color: $white;
  color: $app-primary;
  &:hover {
    color: $app-primary;
  }
}

// .btn-success {
//   color: $white;
//   &:hover, &:focus, &:visited {
//     color: $white;
//   }
// }
@each $color,
$value in $theme-colors {
  .btn-#{$color} {
    --#{$prefix}btn-active-color: #{$white};
    --#{$prefix}btn-disabled-color: #{$white};
    @if $color !="light" {
      color: $white;

      &:hover,
      &:focus,
      &:visited {
        color: $white;
      }

      &:active,
      &:first-child:active,
      &.active,
      &.show {
        color: $white;
      }
      &:hover, &:active {
        background-color: var(--#{$prefix}#{$color});
        border-color: var(--#{$prefix}#{$color}); 
      }
    }
  }
  .btn-outline-#{$color} {
    --#{$prefix}btn-active-color: #{$white};
    --bs-btn-color: var(--#{$prefix}#{$color});
    --bs-btn-border-color: var(--#{$prefix}#{$color});
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--#{$prefix}#{$color});
    --bs-btn-hover-border-color: var(--#{$prefix}#{$color});
    --bs-btn-active-bg: var(--#{$prefix}#{$color});
    --bs-btn-active-border-color: var(--#{$prefix}#{$color});
    --bs-btn-disabled-color: var(--#{$prefix}#{$color});
    --bs-btn-disabled-border-color: var(--#{$prefix}#{$color});
    &:hover, &:active {
      @if $color !="light" {
      color: $white;
      }
    }
  }
}
.btn-light{
  --#{$prefix}btn-color: #{$app-body-color};
  --#{$prefix}btn-hover-color: #{$app-body-color};
  --#{$prefix}btn-active-color: #{$app-body-color};
}
[data-bs-theme="dark"]{
  .btn-light {
    --#{$prefix}btn-color: #{$white};
    --#{$prefix}btn-active-color: #{$white};
    --#{$prefix}btn-bg: #{$dark-light-bg};
    --#{$prefix}btn-border-color: #{$dark-light-bg};
    --#{$prefix}btn-active-bg: #{$dark-active-bg};
    --#{$prefix}btn-active-border-color: #{$dark-active-bg};
    --#{$prefix}btn-hover-bg: #{$dark-active-bg};
    --#{$prefix}btn-hover-border-color: #{$dark-active-bg};
    --#{$prefix}btn-disabled-bg: #{$dark-active-bg};
    --#{$prefix}btn-disabled-border-color: #{$dark-active-bg};
  }
  .btn-primary {
    --#{$prefix}btn-bg: #{$dark-primary};
    --#{$prefix}btn-border-color: #{$dark-primary};
    --#{$prefix}btn-active-bg: #{$dark-active-primary};
    --#{$prefix}btn-active-border-color: #{$dark-active-primary};
    --#{$prefix}btn-hover-bg: #{$dark-active-primary};
    --#{$prefix}btn-hover-border-color: #{$dark-active-primary};
    --#{$prefix}btn-disabled-bg-color: #{$dark-primary};
    --#{$prefix}btn-disabled-border-color: #{$dark-primary};
  }
  .btn-outline-primary {
    --#{$prefix}btn-color: #{$dark-primary};
    --#{$prefix}btn-border-color: #{$dark-primary};
    --#{$prefix}btn-active-bg: #{$dark-primary};
    --#{$prefix}btn-active-border-color: #{$dark-primary};
    --#{$prefix}btn-hover-bg: #{$dark-primary};
    --#{$prefix}btn-hover-border-color: #{$dark-primary};
    --#{$prefix}btn-disabled-bg-color: #{$dark-primary};
    --#{$prefix}btn-disabled-border-color: #{$dark-primary};
  }
}
.btn-outline-white {
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $app-primary;
  }
  &:focus {
    color: $white;
  }
}

@mixin btn-icon-soft-variant($bg) {
  background-color: rgba($bg, 0.15);
  border-color: rgba($bg, 0.15);
  color: $bg;
}


// avatar height
.btn-icon {
  height: 2.25rem;
  width: 2.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 0.3rem;
  // &:hover{
  //   background-color: rgba($black, 0.07);
  // }
}

button.btn-icon {
  // background: none;
  border: none;
  // padding: 0;
  // color: $primary;
}

@each $color,
$value in $theme-colors {
  .btn-icon-soft-#{$color} {
    &:hover {
      @include btn-icon-soft-variant($value);
    }
  }

  .btn-soft-#{$color} {
    @include btn-icon-soft-variant($value);
    &:hover, &:active, &:first-child:active {
      @include btn-icon-soft-variant($value);
    }
  }
}

.dropdown.show {

  @each $color,
  $value in $theme-colors {
    .btn-icon-soft-#{$color} {
      @include btn-icon-soft-variant($value);
    }
  }
}

.btn-icon-xs {
  height: 1.5rem;
  width: 1.5rem;
}

.btn-icon-sm {
  height: 2rem;
  width: 2rem;
}

.btn-icon-md {
  height: 2.5rem;
  width: 2.5rem;
}

.btn-icon-lg {
  height: 3rem;
  width: 3rem;
}

.btn-icon-xl {
  height: 4rem;
  width: 4rem;
}

.btn-icon-xxl {
  height: 5.5rem;
  width: 5.5rem;
}

.dropdown-toggle-split {

  @each $color,
  $value in $theme-colors {
    &.btn-#{$color} {
      &:before {
        @if($color =='light') {
          border-color: $gray-600;
        }

        @else {
          border-color: $value;
        }
      }
    }
  }

  &:before {
    display: block;
    content: ' ';
    @include border(left, 1px, solid, transparent);
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 5px;
    opacity: .3;
  }
}

.brand-btn {
  padding-left: 50px;
  border: none;

  .brand-icon {
    @include position(absolute, 0, null, 0, 0);
    background-color: rgba($black, 0.3);
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.brand-btn-right {
  padding-right: 50px;
  border: none;

  .brand-icon {
    @include position(absolute, 0, 0, 0, null);
    background-color: rgba($black, 0.3);
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.btn-label {
  margin: -.55rem .9rem -.55rem -.9rem;
  padding: .6rem .9rem;
  background-color: rgba(50, 58, 70, .1);
}

.btn-label-right {
  margin: -.45rem -.9rem -.45rem .9rem;
  padding: .45rem .9rem;
  background-color: rgba(50, 58, 70, .1);
  display: inline-block;
}