<!-- Begin Left Navigation -->
<aside class="side-navbar">
  <div class="scroll-content" id="metismenu">
    <ul id="side-menu" class="metismenu list-unstyled">
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/1">
          <i class="bx bx-calendar"></i>
          <span>Обзор</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/2">
          <i class="bx bx-calendar"></i>
          <span>Заказы</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/3">
          <i class="bx bx-calendar"></i>
          <span>Анализ продаж</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/4">
          <i class="bx bx-calendar"></i>
          <span>Убыточные товары</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/product-managment-page.html">
          <i class="bx bx-calendar"></i>
          <span>Управление товарами</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/5">
          <i class="bx bx-calendar"></i>
          <span>Товары на складах</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/6">
          <i class="bx bx-calendar"></i>
          <span>Движения по складам</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/7">
          <i class="bx bx-calendar"></i>
          <span>Предзаказ</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/8">
          <i class="bx bx-calendar"></i>
          <span>Мин. остатки</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/9">
          <i class="bx bx-calendar"></i>
          <span>Ваши клиенты</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/10">
          <i class="bx bx-calendar"></i>
          <span>Уведомления</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/11">
          <i class="bx bx-calendar"></i>
          <span>WhatsApp</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/12">
          <i class="bx bx-calendar"></i>
          <span>Чаты (beta)</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/13">
          <i class="bx bx-calendar"></i>
          <span>Ваш профиль</span>
        </a>
      </li>
      <li>
        <a class="side-nav-link side-nav-link-profi" href="/14">
          <i class="bx bx-calendar"></i>
          <span>Инструкция</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<!-- Left Navigation End -->
