<tr>
  <th scope="row">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="card1" />
      <label class="form-check-label" for="card1"></label>
    </div>
  </th>
  <td>
    <img src="/assets/images/profibot/bike.png" alt="product image" />
  </td>
  <td>PP1</td>
  <td>123456789</td>
  <td>123456789</td>
  <td>Детский Велик</td>
  <td>10 000 ₸</td>
  <td>34</td>
  <td>100</td>
  <td>Не настроен</td>
  <td>В наличии</td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
  <td>16.10.2025</td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
</tr>
