<!-- mobile products  -->
<div class="w-100 d-flex flex-column d-sm-none">
  <!-- mobile pagination  -->
  <div class="mobile-pagination" id="mobile-pagination">
    <div class="d-flex align-items-center gap-1 gap-sm-2">
      <div>Отображаются</div>
      <div class="dropup">
        <button
          class="td-profi-text cursor-pointer dropdown-toggle py-1 py-sm-2 px-2 px-sm-3 border rounded"
          type="button"
          id="dropdownMenuButton7"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="d-flex align-items-center gap-1">
            <div class="td-profi-text">10 строк</div>
            <img src="assets/images/profibot/arrow-down.svg" alt="Edit icon" style="cursor: pointer" />
          </div>
        </button>
        <ul class="dropdown-menu h-fit" aria-labelledby="dropdownMenuButton7">
          <li><a class="dropdown-item" href="#">20 строк</a></li>
          <li><a class="dropdown-item" href="#">30 строк</a></li>
        </ul>
      </div>
      <div>из 40</div>
    </div>
    <div class="d-flex gap-1">
      <button class="btn border pagination-mobile-btn">
        <i class="bx bx-chevron-left"></i>
      </button>
      <button class="btn border pagination-mobile-btn">
        <i class="bx bx-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
