<tr id="t-pagination">
  <td colspan="20" class="p-0">
    <div class="table-paggination-wrapper">
      <div class="table-paggination">
        <div class="d-flex align-items-center gap-2">
          <div>Отображаются</div>
          <div class="dropup">
            <button
              class="td-profi-text cursor-pointer dropdown-toggle py-2 px-3 border rounded"
              type="button"
              id="dropdownMenuButton7"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="d-flex align-items-center gap-1">
                <div class="td-profi-text">10 строк</div>
                <img src="assets/images/profibot/arrow-down.svg" alt="Edit icon" style="cursor: pointer" />
              </div>
            </button>
            <ul class="dropdown-menu h-fit" aria-labelledby="dropdownMenuButton7">
              <li><a class="dropdown-item" href="#">20 строк</a></li>
              <li><a class="dropdown-item" href="#">30 строк</a></li>
            </ul>
          </div>
          <div>из 40</div>
        </div>
        <ul class="pagination flat-rounded-pagination mb-0">
          <li class="page-item disabled">
            <a
              href="javascript:void(0)"
              class="page-link"
              data-effect="wave"
              aria-label="Previous"
              tabindex="-1"
              aria-disabled="true"
            >
              <i class="bx bx-chevron-left"></i>
            </a>
          </li>
          <li class="page-item active" aria-current="page">
            <a href="javascript:void(0)" class="page-link" data-effect="wave">1</a>
          </li>
          <li class="page-item" aria-current="page">
            <a href="javascript:void(0)" class="page-link" data-effect="wave">2</a>
          </li>
          <li class="page-item" aria-current="page">
            <a href="javascript:void(0)" class="page-link" data-effect="wave">3</a>
          </li>
          <li class="page-item">
            <a href="javascript:void(0)" class="page-link" data-effect="wave" aria-label="Next">
              <i class="bx bx-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </td>
</tr>
