<div class="container-fluid product-management-box">
  <div class="d-flex flex-column-reverse flex-sm-column gap-4 product-management-wrapper">
    <div class="d-flex flex-wrap gap-2 gap-sm-3">
      <button id="remove-overs" class="btn h-40 bg-light text-secondary product-management-grey-btn" disabled>
        Списать остатки
      </button>
      <!-- <button id="leftovers" class="btn h-40 bg-light text-secondary product-management-grey-btn" disabled>
        Управление остатками
      </button> -->
      <button id="pre-order" class="btn h-40 bg-light text-secondary product-management-grey-btn" disabled>
        Настроить предзаказ
      </button>
      <button id="remove-from-sale" class="btn h-40 bg-light text-secondary product-management-grey-btn" disabled>
        Снять с продажи
      </button>
      <button id="set-up-balances" class="btn h-40 bg-light text-secondary product-management-grey-btn" disabled>
        Настроить мин. остатки
      </button>
    </div>
    <div class="d-flex flex-sm-wrap py-2 products-filter-block-profi border rounded">
      <button data-filter="all" class="btn product-btn-profi active-filter">
        <span class="d-none d-sm-block">Все товары</span>
        <span class="d-block d-sm-none">Все товары<br />(50)</span>
      </button>
      <button data-filter="in-stock" class="btn product-btn-profi">
        <span class="d-none d-sm-block">В наличии</span>
        <span class="d-block d-sm-none">В наличии<br />(50)</span>
      </button>
      <button data-filter="preorder" class="btn product-btn-profi">
        <span class="d-none d-sm-block">Предзаказ</span>
        <span class="d-block d-sm-none">Предзаказ<br />(50)</span>
      </button>
      <button data-filter="canceled" class="btn product-btn-profi">
        <span class="d-none d-sm-block">Сняты с продажи</span>
        <span class="d-block d-sm-none">Снятые<br />(50)</span>
      </button>
    </div>
  </div>
</div>
