<tr>
  <th scope="row">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="card" />
      <label class="form-check-label" for="card"></label>
    </div>
  </th>
  <td>
    <img src="assets/images/profibot/bike.png" alt="product image" />
  </td>
  <td>PP1</td>
  <td class="text-primary fw-bold">123456789</td>
  <td class="text-primary fw-bold">123456789</td>
  <td>
    <textarea class="form-control table-input-profi auto-resize" rows="1">Детский Велик</textarea>
  </td>
  <td class="fw-bold">
    <textarea class="form-control table-input-profi auto-resize fw-bold" rows="1">10 000 ₸</textarea>
  </td>
  <td>34</td>
  <td>100</td>
  <td>
    <div class="d-flex align-items-center gap-1">
      <div class="td-profi-text">Не настроен</div>
      <img src="assets/images/profibot/edit.svg" alt="Edit icon" style="cursor: pointer" />
    </div>
  </td>
  <td class="text-start">
    <div class="d-flex align-items-center gap-1">
      <span class="badge-profi badge-profi-success">В наличии</span>

      <div class="dropdown">
        <button
          class="badge-btn-profi cursor-pointer dropdown-toggle"
          type="button"
          id="dropdownMenuButton7"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          ⋮
        </button>
        <ul class="dropdown-menu h-fit" aria-labelledby="dropdownMenuButton7">
          <li><a class="dropdown-item" href="#">Списать остатки</a></li>
          <li><a class="dropdown-item" href="#">Настроить предзаказ</a></li>
          <li><a class="dropdown-item" href="#">Снять с продажи</a></li>
          <li><a class="dropdown-item" href="#">Настроить мин. остатки</a></li>
        </ul>
      </div>
    </div>
  </td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
  <td>16.10.2025</td>
  <td>34</td>
  <td>34</td>
  <td>34</td>
</tr>
