.no-scroll {
  overflow: hidden;
}

#dumping-modal-box,
#preorder-modal-box,
#balances-modal-box,
#remove-from-sale-modal-box {
  display: none;

  &.modal-active-profi {
    display: block;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.profi-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 6px;
  padding: 10px 12px;
  overflow-y: auto;
  z-index: 1051;
  border: 1px solid rgba(229, 231, 232, 1);
  box-shadow: 0px 4px 24px 0px rgba(25, 27, 28, 0.16);
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: rgba(30, 33, 57, 1);
  font-size: 14.4px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: 0%;
  width: 543px;

  @media (width < 576px) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
    }

    .btn-close {
      background: transparent;
      border: none;
      padding: 4px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      i {
        font-size: 24px;
        color: #000000;
      }
    }
  }
}

.dumping-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dumping-item-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dumping-switch {
  .form-check-input {
    width: 51px !important;
    height: 31px !important;
  }
}

.modal-input-profi {
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border: 1px solid rgba(229, 231, 232, 1);
  border-radius: 6px;
}

.dumping-input-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-block: 6px;
}

.modal-btn-profi {
  height: 42px;
  width: 100%;
  border: 1px solid rgba(120, 89, 244, 1);
  border-radius: 6px;
  background: rgba(120, 89, 244, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.modal-btn-profi-outlined {
  height: 42px;
  width: 100%;
  border: 1px solid rgba(120, 89, 244, 1);
  border-radius: 6px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(120, 89, 244, 1);
}
