$azure-19: rgba(39, 51, 58, 1);
$azure-71: rgba(173, 181, 189, 1);
$grey-98: rgba(247, 247, 255, 1);
$grey-42: #636e75;
$springgreen-55: #43d39e;
$blue-17: rgba(30, 33, 57, 1);
$blue-6511: rgba(120, 89, 244, 0.11);
$azure-1575: rgba(33, 37, 41, 0.75);
